@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://use.typekit.net/qnb0pgi.css");
@import "tailwindcss";

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;

    /* 👇 use explicit var, don't rely on currentColor here */
    -webkit-text-fill-color: var(--autofill-fg, inherit) !important;
    caret-color: var(--autofill-fg, currentColor) !important;

    background-color: transparent !important;
    transition: background-color 9999s ease-in-out 0s !important;
  }
}

@theme {
  /* Font families */
  --font-open-sans: "Open Sans", sans-serif;
  --font-agbalumo: "Agbalumo", system-ui;
  --font-aileron: "aileron", sans-serif;

  /* colors */

  --color-blue-500: #0024c3;
  --color-blue-600: #001d9f;
  --color-blue-700: #001676;
  --color-blue-800: #00115f;
  --color-blue-900: #000e4a;
  --color-black-100: #191919;
  --color-black-200: #070707;
  --color-black-300: #0d0d0d;
  --color-white-200: #fbfcff;
  --color-white-300: #f2f2f2;
}
